@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Xác nhận quên mật khẩu";
}

<div class="container-fluid ml-5">
    <h1>@ViewData["Title"]</h1>
    <p>
        Hãy kiểm tra hòm thư email của bạn để thực hiện bước tiếp theo
    </p>
</div>
